@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Vibur";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Vibur-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "ZenKakuGothicNew";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/ZenKakuGothicNew-Regular.woff2) format("woff2");
  }
}

@layer components {
  .subheader {
    @apply font-Vibur uppercase text-center text-2xl mb-8;
  }
}

p {
  font-family:
    Inter,
    ZenKakuGothicNew,
    Hiragino Kaku Gothic ProN,
    Hiragino Sans,
    BIZ UDPGothic,
    Meiryo,
    sans-serif;
  line-height: 2.1em;
}
