---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section id="about">
    <div class="mt-20">
      <div class="px-6 py-12 sm:py-24 lg:px-8">
        <div
          class="mx-auto max-w-xl flex flex-col items-center justify-center text-center"
        >
          <h1 class="text-3xl md:text-4xl font-bold font-Vibur uppercase">
            ! Error !
          </h1>
          <p class="mt-8">
            送信できませんでした。お手数おかけしますが、再度お問い合わせください。
          </p>
          <a class="font-Zenkaku underline underline-offset-4 mt-4" href="/form"
            >お問い合わせに戻る</a
          >
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
