---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section id="about">
    <div class="mt-20">
      <div class="px-6 py-12 sm:py-24 lg:px-8">
        <div
          class="mx-auto max-w-xl flex flex-col items-center justify-center text-center"
        >
          <h1 class="text-3xl md:text-4xl font-bold font-Vibur uppercase">
            Privacy Policy
          </h1>
          <p class="mt-20 text-md text-left">
            当Webサイトでは、お問合せフォームで記載いただいた、氏名、所属、メールアドレス、お問合せ内容を取得いたします。利用目的は、お問合せへの対応及び当サイトからのお知らせ、サービスのご案内に限ります。<br
            /><br
            />場合によっては、ほかのユーザー様から同じ内容のお問合せがあった際、迅速な対応をおこなうために回答内容を確認する場合もございます。<br
            /><br />
            ただし、ユーザー様のお問合せ内容もしくは個人情報を第三者に開示、提供することは一切ございません。<br
            /><br
            />また、取得させていただいた個人情報は5年間保存いたします。なお、お問合せをされた段階で、プライバシーポリシーに同意いただいたとみなしますことあらかじめご承知おきください。
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
